<?xml version="1.0"?>
<!--source your setup.bash through source \opt\ros\noetic\setup.bash-->
<!-- Name your robot here -->
<robot name ="spiderbot" xmlns:xacro="http://wiki.ros.org/xacro">

<!-- Include your urdf files here -->
	<!-- Include Robot's urdf filepath -->
	<!-- Include Lidar's urdf filepath -->
	<xacro:include filename="$(find spiderbot)/urdf/spiderbot.urdf"/>
	<xacro:include filename="$(find spiderbot)/urdf/ydlidar.urdf"/>

<!-- Add your gazebo sensors here -->
<gazebo reference="base_laser">
		<!-- <gravity>true</gravity> -->
		<!-- Gazebo has fixed set of Sensors types. Check them out here <> -->
		<sensor name="laser" type="ray"> 
			<!-- Add in your sensor characteristics -->
			<pose> 0 0 0 0 0 0 </pose>
			<visualise>true</visualise>
			<update_rate>40</update_rate>
			<!-- <always_on>true</always_on> -->
			<ray>
				<scan>
					<horizontal>
						<samples>720</samples>
						<resolution>1</resolution>
						<min_angle>-1.570796</min_angle>
              			<max_angle>1.570796</max_angle>
              		</horizontal>
              	</scan>
              	<range>
              		<min>0.10</min>
              		<max>30.0</max>
              		<resolution>0.01</resolution>
              	</range>
              	<noise>
              		<type>gaussian</type>
              		<mean>0.0</mean>
              		<stddev>0.01</stddev>
              	</noise>
            </ray>
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
            	<!-- Use topic name as /my_robot/scan -->
				<topicName>/spiderbot/laser_scan</topicName> 
				<frameName>laser_frame</frameName>
			</plugin>
		</sensor>
	</gazebo>
	

<!--  Gazebo plugin for control here is already added for you -->
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/spiderbot</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>


<!-- Create a joint between your robot and sensor -->
	<joint
      name="sensor_joint"
      type="fixed">
	  <origin
		  xyz="0 0 0.1"
		  rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_laser" />
	</joint>

	<!--Added for camera-->


<!--camera-->
<link name='camera'>
	<visual name ='camera_visual'>
   <geometry>
	  <box size="0.005 0.025 0.025"/>
   </geometry>
	</visual>

   <inertial>
		   <mass value="0.0001"/>
		 <origin xyz="0 0 0" rpy=" 0 0 0"/>
		 <box_inertia m="0.1" x="0.005" y="0.025" z="0.025" />
		 <inertia
		   ixx="1e-6" ixy="0" ixz="0"
		   iyy="1e-6" iyz="0"
		   izz="1e-6"
		 />
	</inertial>

	<collision name='collision'>
		  <origin xyz="0 0 0" rpy=" 0 0 0"/> 
		  <geometry>
			<box size="0.005 0.025 0.025"/>
		  </geometry>
	</collision>
 </link>

<gazebo reference="camera">
   <material>Gazebo/Black</material>
</gazebo>

 <joint type="fixed" name="camera_joint">
   <origin xyz="0.05 0 0.12" rpy="0 0 0"/>
   <child link="camera"/>
   <parent link="base_link"/>
   <axis xyz="0 0 0" rpy="0 0 0"/>
   <limit effort="10000" velocity="1000"/>
   <dynamics damping="1.0" friction="1.0"/>
 </joint>

 <gazebo reference="camera">
   <sensor type="camera" name="camera1">
	 <update_rate>30.0</update_rate>
	 <camera name="head">
	   <horizontal_fov>1.3962634</horizontal_fov>
	   <image>
		 <width>800</width>
		 <height>800</height>
		 <format>R8G8B8</format>
	   </image>
	   <clip>
		 <near>0.02</near>
		 <far>300</far>
	   </clip>
	 </camera>
	 <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
	   <alwaysOn>true</alwaysOn>
	   <updateRate>0.0</updateRate>
	   <cameraName>camera</cameraName>
	   <imageTopicName>rgb/image_raw</imageTopicName>
	   <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
	   <frameName>camera</frameName>
	   <hackBaseline>0.07</hackBaseline>
	   <distortionK1>0.0</distortionK1>
	   <distortionK2>0.0</distortionK2>
	   <distortionK3>0.0</distortionK3>
	   <distortionT1>0.0</distortionT1>
	   <distortionT2>0.0</distortionT2>
	 </plugin>
   </sensor>
 </gazebo>

	<!--Material Definitions-->
	<material name="red">
		<color rgba="0.8 0.0 0.0 1.0"/>
	</material>
	<material name="blue">
		<color rgba="0.0 0.0 0.8 1.0"/>
	</material>
	<material name="black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>
	<material name="dark">
		<color rgba="0.3 0.3 0.3 1.0"/>
	</material>
	<gazebo reference="base_link">
		<material>Gazebo/Red</material>
	</gazebo>

	<gazebo reference="front_right_link0">
		<material>Gazebo/Blue</material>
	</gazebo>
    <gazebo reference="front_right_link1">
		<material>Gazebo/Green</material>
	</gazebo>

    <gazebo reference="front_left_link0">
		<material>Gazebo/Blue</material>
	</gazebo>
    <gazebo reference="front_left_link1">
		<material>Gazebo/Green</material>
	</gazebo>

    <gazebo reference="rear_right_link0">
		<material>Gazebo/Blue</material>
	</gazebo>
    <gazebo reference="rear_right_link1">
		<material>Gazebo/Green</material>
	</gazebo>

    <gazebo reference="rear_left_link0">
		<material>Gazebo/Blue</material>
	</gazebo>
    <gazebo reference="rear_left_link1">
		<material>Gazebo/Green</material>
	</gazebo>
    

    <!--Dummy Link-->
    <link name="dummy_link">
	</link>
	<joint name="dummy_joint" type="fixed">
		<parent link="dummy_link"/>
		<child link="base_link"/>
	</joint>
  
</robot>	